# Server Configuration
PORT=3000
NODE_ENV=development

# Neon PostgreSQL Database
DATABASE_URL=postgresql://neondb_owner:npg_nDCUZOt3e1qG@ep-hidden-recipe-ahojuuib-pooler.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'

# OneHand AI API
OPENAI_API_KEY=sk-proj_G399ihsLo27hoxdPn7oZbsZB
STABILITY_KEY=sk-xxxxxxxx

# Firebase Service Account
// For Firebase JS SDK v7.20.0 and later, measurementId is optional
const firebaseConfig = {
  apiKey: "AIzaSyA5BS_7xfD1-VhGYlBfkKLBkHUKnkZXBsg",
  authDomain: "amkyawdev.firebaseapp.com",
  projectId: "amkyawdev",
  storageBucket: "amkyawdev.firebasestorage.app",
  messagingSenderId: "242883286611",
  appId: "1:242883286611:web:a61ea6d9d294c49b0618a6",
  measurementId: "G-VF8XVGCWM2"
};
