# Server Configuration
PORT=3000
NODE_ENV=development

# Neon PostgreSQL Database
DATABASE_URL=postgresql://neondb_owner:npg_nDCUZOt3e1qG@ep-hidden-recipe-ahojuuib-pooler.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'

# OneHand AI API
OPENAI_API_KEY=sk-proj_G399ihsLo27hoxdPn7oZbsZB
STABILITY_KEY=sk-xxxxxxxx

# Firebase Service Account
FIREBASE_PROJECT_ID=your_project_id
FIREBASE_PRIVATE_KEY_ID=your_key_id
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nyour_key\n-----END PRIVATE KEY-----\n"
FIREBASE_CLIENT_EMAIL=firebase-adminsdk@your_project.iam.gserviceaccount.com
FIREBASE_CLIENT_ID=your_client_id
